#Movies{
    padding: 100px;
    padding-bottom: 0;
    text-align: center;
    padding-top: 100px;
}

#Movies h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
#Movies h3{
    font-family: 'Montserrat', sans-serif;
}

#Movies2{
    padding: 100px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0;
}

#Movies2 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
#Movies2 h3{
    font-family: 'Montserrat', sans-serif;
}


#Movies3{
    padding: 100px;
    text-align: center;
    padding-top: 100px;
    padding-bottom: 0;
}

#Movies3 h2{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height: 1.5;
}
#Movies3 h3{
    font-family: 'Montserrat', sans-serif;
}


.p-col{
    padding: 3% 2%;

}
.card:hover{
    box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
    cursor: pointer;
    transition: all .4s ease;
    -webkit-transition: all .4s ease;
}

#footer{
    padding: 7% 15% 2% 15%;
    text-align: center;
}
.s-icons{
    padding: 20px 10px;
    cursor: pointer;
}
#footer a{
	text-decoration: none;
	color: #000000
}
#icon-fb:hover{
    color:#405DE6;
}
#icon-insta:hover{
    color: #E1306C;
}
#icon-mail:hover{
    color: #FD1D1D;
}
#cf{
    padding-right: 0;
    padding-left: 0;
}
#navbarSupportedContent a{
    margin-left: 25px;
}
.card{
    margin: auto;
}
.card-text{
    padding-left: 10px;
    padding-right: 10px;
}




#testimonials{ 
    text-align: center;
    background-color: #fff;
    color: #fff;
}

.me{
    width: 100%;
    
}

.carousel-item{
    background: no-repeat scroll center scroll;
    -webkit-background-size: cover;
    background-size: cover;
    
}
.carousel-item::before{
    text-align: center;
    content: "";
    display: block;
    position:absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #000000;
    opacity: 0.7;
}

#cta h3{
    font-family: 'Montserrat', sans-serif;
}
#cta{
    background-color: #fff;
    color: #000000;
    padding: 7% 15%;
    text-align: center;
    padding-bottom: 0;
}
.cta-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 5rem;
    line-height: 1.5;
}
.downbtn2{
    margin: 5% 1%;
}

.logos1{
    width: 145px;
    margin: 20px 20px 0px;
    padding-bottom: 100px;
}
.logos2{
    width: 210px;
    margin: 20px 20px 0px;
    padding-bottom: 100px;
}
.logos3{
    width: 110px;
    margin: 20px 20px 0px;
    padding-bottom: 100px;
}